# .gitignore

# Just ignore the shii
input2.png
mini/
testing.py
output/
output2/
temp/

# Builds
NameMCProfileArt_CLI_Lin
NameMCProfileArt_GUI_Lin
NameMCProfileArt_CLI_Win
NameMCProfileArt_GUI_Win

NameMCProfileArt_CLI_Lin.spec
NameMCProfileArt_GUI_Lin.spec
NameMCProfileArt_CLI_Win.spec
NameMCProfileArt_GUI_Win.spec

# Ignore Python build artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore Python distribution artifacts
dist/
build/
main.spec
*.egg-info/

# Ignore Jupyter Notebook files
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/
