# .gitignore

# Ignore the bigenv environment
bigenv/
Bigenv/

# Ignore the second input image
assets/input2.png

# Ignore the already generated images from testing
assets/output/
assets/output2/

# Ignore Python build artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd


nmcven/
piltest.py
output/

# Ignore Python distribution artifacts
dist/
build/
*.egg-info/

# Ignore Jupyter Notebook files
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/
